*{
	margin:0;
	padding:0;
	font-family: sans-serif;
	font-size: 16px;
}

body{
	background-color: #F5F5F5;
}

ul{
	list-style-type:none;
}

img{
	width:100%;
}

/**************/
.navbar{
	height:92px;
	background-color: #111;
	color:#FFF;
	margin-bottom:0px;
	border-radius: 0px;
}

.navbar-brand{
	padding:0px;
}

.logo{
	width:60px;
	margin-top:16px;
	margin-left: 30px;
}

.logo-extra{
	position:relative; 
	top:20px; 
	left:-3px;
	color:white; 
	text-decoration:none;
	font-family: serif;
	font-size: 1.2em;
}

.social{
	padding-top: 15px;
}

.social a{
	text-decoration: none;
}

.social i{
	font-size: 30px;
	margin-right: 20px;
	padding-top: 20px;
	color:#EEE;
}

.jumbotron{
	background-color: #BDBDBD;
	border-bottom: 1px solid #9E9E9E;
}

/*************************/
.footer{
	margin-top:15px;
	text-align: center;
	background-color: #DDD;
	border-top:1px solid #BDBDBD;
	height: 40px;
}

.footer *{
	padding-top: 10px;
}


/******************/
#carousel{
	max-width:900px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

.carousel-indicators li{
	border-color:#000; 
	background-color:#fff;
}

.carousel-indicators .active{
	background-color:#BBB;	
}

.carousel-caption{
	display:none;
}

.carousel-indicators{
	bottom:0;
}
/********************/
.project-overview{
	text-align: justify;
}

.project-image{
	margin-bottom: 15px;
}
/******************/

.section{
	margin-top: 50px;
}

.section-container{
	padding:15px; 
	border:1px solid #CCC;
	border-radius:4px;
	box-shadow:0 0 3px #AAA;
	background-color: #FFF;
	margin-top: 30px;
}

.index-section{
	margin-top:30px;
}

.section-title {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
}

.section-title i{
	font-size: 18px;
	border-radius: 20px;
	margin-right: 5px;
	margin-left: 5px;
}
/******************/
.clear{
	clear:both;
}

/************************
 * Project box
*************************/
.project-box{
	margin-bottom: 30px;
	border-radius: 3px;
	background-color: #FFF;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px 0px;
}

.project-box a{
	color:#000;
	text-decoration: none;
}

.project-box .image{
	height: 175px;
	border-radius: 3px 3px 0px 0px;
	margin-bottom: 3px;
	
	display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 2.0em;
    text-decoration: none;
}

.project-box .image img{
	max-height:175px;
	max-width: 100%;
	width: auto;
	height:auto;

	border-radius: 3px;
}

.project-box .image i{
	font-size: 90px;
}

.project-box .image a:hover{
	text-decoration: none;
}

.project-box-detail{
	padding: 4px 0px 4px 8px;
}

/************************
 * Skill progress
 ***********************/

#skillChart{
	max-width: 900px;
	margin:0 auto;
}

.amber{
	background-color: #FFC107;
	color:#000;
}

.blue{
	background-color: #1976D2;
	color:white;
}

.green{
	background-color: #43A047;
	color:white;
}

.orange{
	background-color: #F4511E;
	color: #FFF;
}

.red{
	background-color: #DD4B39;
}

.black{
	background-color: #000;
}