# ---------------------------------------------------
# Projet synthèse : H2013 							 
# Fait Par : Marc Grenier							 
#--------------------------------------------------- 

ErrorDocument 403 http://www.marcgrenier.com/error.php?code=403

# Page inexistante
ErrorDocument 404 http://www.marcgrenier.com/error.php?code=404

# erreur interne
ErrorDocument 500 http://www.marcgrenier.com/error.php?code=500

Options +FollowSymlinks
RewriteEngine on

# Si le nom du fichier + ".php" est un fichier (-f)
RewriteCond  %{REQUEST_FILENAME}.php -f

# Alors, modifié le fichier par fichier.php.  [L] = break... donc fin de htaccess
RewriteRule ^(.*)$ $1.php

# Si le nom du fichier + ".php" est un fichier (-f)
RewriteCond  %{REQUEST_FILENAME}.html -f

# Alors, modifié le fichier par fichier.php.  [L] = break... donc fin de htaccess
RewriteRule ^(.*)$ $1.html [L]

<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php|jpg)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access 1 month"
	ExpiresByType image/jpeg "access 1 month"
	ExpiresByType image/png "access 1 month"
	ExpiresByType text/css "access 1 month"
	ExpiresByType text/html "access 1 month"
	ExpiresByType application/javascript "access 1 month"
	ExpiresByType image/x-icon "access 1 year"
	ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##
